.wrapper {
    text-align: center;
    margin-top: 3rem;
    background-color: rgba(0, 0, 0, 0.584);
    background-size: cover;
    background-repeat: no-repeat;
    height: 625px;
    border-radius: 25%;
    width: 80%;
    margin: auto;
}

h2 {
    vertical-align: center;
    padding-top: 200px;
    text-shadow: 10px 5px 5px black;
    font-size: 3rem;
}

button {
    background-color:#1db954;
    color: white;
    width: 70%;
    height: 3rem;
    border-radius: 50px;
    margin-top: 2rem;
    cursor: pointer;
    border: 2px solid black;
}

button:active {
    color: #1db954;
    background: white;
}